body {
    background-color: #524039;
    line-height: 1;
}

div.jumbotron {
  background-color: #414f3a;
  
}
 
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

div.form-group {
    margin-top: 16px;
}

.btn-success {
    background-color: #aab9a4;
    border: 0px;
    box-shadow: 0 0 0 0 #FFFDEB;
}

.btn-success:hover {
    background-color: 	#826537;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
    background-color: #889483;
    box-shadow: 0 0 0 0 #FFFDEB;
    border: 0px;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
    background-color: #889483;
    box-shadow: 0 0 0 0 #FFFDEB;
    border: 0px;
}

.ng-scope {
    background-color: #5c825e;
}

.list {
    background-color: #c2d4ba;
    vertical-align: middle;
}

.list>tr:nth-child(odd) {
    background-color: #c2d4ba;
}

​    .sort:after {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: "";
    position: relative;
    top: -10px;
    right: -5px;
}

.sort.asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content: "";
    position: relative;
    top: 4px;
    right: -5px;
}

.sort.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    content: "";
    position: relative;
    top: -4px;
    right: -5px;
}

.table{
    border-collapse: separate;
}

.table td,.table tr{
vertical-align: middle;
}

.list-group-item{
    padding: .25rem .5rem;
    opacity: 90%;
    border-color: rgba(0, 0, 0, 0.5);
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .btn-secondary{
    padding: 0px 1px;
    font-size: x-small;
  }
